<template>
  <div>
    <a href="https://login.microsoftonline.com/">
      <div v-if="$route.path === '/'">
        <nuxt-link
          to="/"
          class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-co-blue hover:bg-white mt-4 lg:mt-0"
        >
          Client Login
        </nuxt-link>
      </div>
      <div
        v-else
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-co-blue border-co-blue hover:text-white hover:border-co-blue hover:bg-co-blue cursor-pointer mt-4 lg:mt-0"
      >
        Client Login
      </div>
    </a>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
