<template>
  <div class="bg-co-gray items-center flex justify-center items-center">
    <div
      class="p-4 flex grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 justify-center items-center"
    >
      <div class="items-center justify-center">
        <img
          class="p-4 justify-center items-center"
          src="~/assets/nestle.png"
          alt=""
        />
      </div>
      <div class="items-center justify-center">
        <img
          class="p-4 justify-center items-center"
          src="~/assets/coca-cola.png"
          alt=""
        />
      </div>
      <div class="items-center justify-center">
        <img
          class="p-4 justify-center items-center"
          src="~/assets/nestle.png"
          alt=""
        />
      </div>
      <div class="items-center justify-center">
        <img
          class="p-4 justify-center items-center"
          src="~/assets/coca-cola.png"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
