<template>
  <div>
    <h1 class="text-center text-lg font-semibold p-4">
      What are you waiting for? Contact us today!
    </h1>
    <form class="w-full max-w-xl p-4 mx-auto">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/3 px-3 mb-2 md:mb-0">
          <label
            class="block uppercase text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name"
          >
            Full Name
          </label>
          <input
            id="grid-first-name"
            class="appearance-none block w-full bg-white text-gray-500 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            type="text"
            placeholder=""
          />
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-last-name"
          >
            Phone Number
          </label>
          <input
            id="grid-last-name"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="text"
            placeholder=""
          />
        </div>
        <div class="w-full md:w-1/3 px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-last-name"
          >
            Email
          </label>
          <input
            id="grid-last-name"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="text"
            placeholder=""
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label
            class="block tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-password"
          >
            <span class="font-bold"> Comment or Questions </span>
            <i>(Let us know how can we help you)</i>
          </label>
          <textarea
            id="grid-password"
            style="height: 150px"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="area"
            placeholder="Write your message here."
          />
        </div>
      </div>
      <div class="flex flex-wrap justify-center">
        <button
          type="submit"
          class="bg-co-blue hover:bg-co-blue text-white font-semibold py-2 px-4 rounded"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
