<template>
  <div class="justify-center items-center text-center card-shadow flex-auto">
    <div class="sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 flex grid">
      <div class="h-32 w-48 flex items-center justify-center mx-auto">
        <div>
          <div>
            <Mail class="text-co-blue text-base h-6 mx-auto" />
          </div>
          <div class="text-gray-600">Our Email</div>
          <div class="text-co-blue">
            <a href="mailto:info@company.com">info@company.com</a>
          </div>
        </div>
      </div>
      <div class="h-32 w-48 flex justify-center items-center mx-auto">
        <div>
          <div>
            <Office class="text-co-blue text-base h-6 mx-auto" />
          </div>
          <div class="text-gray-600">Our Office</div>
          <div class="text-co-blue">123 Main Street<br />Springfield, USA</div>
        </div>
      </div>
      <div class="h-32 w-48 flex items-center justify-center mx-auto">
        <div class="">
          <div>
            <Phone class="text-co-blue text-base h-6 mx-auto" />
          </div>
          <div class="text-gray-600">Telephone</div>
          <div class="text-co-blue">555-555-5555</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Mail from './icons/Mail.vue'
import Phone from './icons/Phone.vue'
import Office from './icons/Office.vue'
export default {
  components: {
    Mail,
    Phone,
    Office,
  },
}
</script>

<style scoped>
.card-shadow {
  box-shadow: 0 10px 35px 10px hsla(0, 0%, 65%, 0.15);
}
</style>
