<template>
  <div
    v-if="isOpen"
    class="cookie bg-white px-4 py-2 sm:grid md:grid sm:grid-cols-1 md:grid-cols-2 grid-cols-1 gap-4"
  >
    <div>
      We use cookies to provide our services and for analytics and marketing. To
      find out more about our use of cookies, please see our
      <nuxt-link to="/privacy-policy"><strong>Privacy Policy</strong></nuxt-link
      >.
    </div>
    <div class="grid grid-cols-2 gap-2 text-center items-center pt-2">
      <div
        class="p-2 bg-co-blue text-white rounded font-bold cursor-pointer z-100"
        @click="accept"
      >
        {{ buttonTextAccept }}
      </div>
      <div
        class="p-2 bg-black text-white rounded cursor-pointer z-100"
        @click="deny"
      >
        {{ buttonTextDeny }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CookieMessage',
  props: {
    buttonTextAccept: {
      type: String,
      default: 'Accept',
    },
    buttonTextDeny: {
      type: String,
      default: 'Deny',
    },
    message: {
      type: String,
      default:
        'We use cookies to provide our services and for analytics and marketing. To find out more about our use of cookies, please see our Privacy Policy. By continuing to browse our website, you agree to our use of cookies.',
    },
    position: {
      type: String,
      default: 'top',
    },
  },
  data() {
    return {
      isOpen: false,
    }
  },
  computed: {
    containerPosition() {
      return `cookie--${this.position}`
    },
  },
  mounted() {
    if (!this.getGDPR() === true) {
      this.isOpen = true
    }
  },
  methods: {
    getGDPR() {
      if (process.browser) {
        return localStorage.getItem('GDPR:accepted', true)
      }
    },
    accept() {
      if (process.browser) {
        this.isOpen = false
        localStorage.setItem('GDPR:accepted', true)
      }
    },
    deny() {
      if (process.browser) {
        this.isOpen = false
        localStorage.setItem('GDPR:accepted', false)
      }
    },
  },
}
</script>

<style scoped>
.cookie {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  box-shadow: 0 10px 35px 10px hsla(0, 0%, 65%, 0.15);
}
</style>
