<template>
  <div>
    <ContactForm />
    <div class="sm:px-4 md:px-4 lg:px-64 xl:px-64 px-4">
      <ContactCard />
      <div class="p-4 mt-4">
        <!-- <img src="~/assets/logo1.png" alt="company" class="mx-auto" /> -->
        <Logo class="mx-auto text-co-blue" />
      </div>
      <div class="p-4">
        <div class="text-center">Copyright ©2020. All Right Reserved</div>
      </div>
      <SocialLinks />
      <hr class="mt-4" />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
hr {
}
</style>
