<template>
  <svg
    id="logoipsum"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    data-name="Layer 1"
    viewBox="0 0 129.67 29.200001"
    version="1.1"
    sodipodi:docname="logo.svg"
    width="133.67"
    height="29.200001"
    inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
    fill="currentColor"
  >
    <title id="title2">logo-5</title>
    <path id="path4" d="m 31.27,6.85 h 3 V 21.3 h -3 z" />
    <path
      id="path6"
      d="m 35.95,16.35 a 5.25,5.25 0 1 1 5.22,5.25 5.18,5.18 0 0 1 -5.22,-5.25 z m 7.52,0 a 2.28,2.28 0 1 0 -2.28,2.34 2.22,2.22 0 0 0 2.26,-2.34 z"
    />
    <path
      id="path8"
      d="m 58.26,11.4 v 9.41 c 0,3.32 -2.6,4.73 -5.23,4.73 a 5,5 0 0 1 -4.69,-2.4 l 2.53,-1.46 a 2.27,2.27 0 0 0 2.26,1.25 2,2 0 0 0 2.24,-2.12 V 19.9 a 3.53,3.53 0 0 1 -2.89,1.28 5,5 0 0 1 0,-10 3.53,3.53 0 0 1 2.89,1.28 v -1 z m -2.89,4.75 a 2.4,2.4 0 1 0 -2.4,2.3 2.24,2.24 0 0 0 2.4,-2.3 z"
    />
    <path
      id="path10"
      d="m 59.95,16.35 a 5.25,5.25 0 1 1 5.24,5.25 5.19,5.19 0 0 1 -5.24,-5.25 z m 7.52,0 a 2.28,2.28 0 1 0 -2.27,2.34 2.22,2.22 0 0 0 2.26,-2.34 z"
    />
    <path
      id="path12"
      d="m 71.82,8.75 a 1.78,1.78 0 1 1 1.78,1.78 1.8,1.8 0 0 1 -1.78,-1.78 z m 0.29,2.65 h 3 v 9.9 h -3 z"
    />
    <path
      id="path14"
      d="m 87.95,16.35 a 5,5 0 0 1 -4.77,5.25 3.72,3.72 0 0 1 -3,-1.21 v 4.89 h -3 V 11.4 h 3 v 0.93 a 3.71,3.71 0 0 1 3,-1.2 5,5 0 0 1 4.77,5.22 z m -3,0 a 2.36,2.36 0 1 0 -2.35,2.42 2.26,2.26 0 0 0 2.35,-2.42 z"
    />
    <path
      id="path16"
      d="m 97.08,18.33 c 0,2.28 -2,3.25 -4.12,3.25 A 4.34,4.34 0 0 1 88.7,19.22 l 2.58,-1.46 a 1.62,1.62 0 0 0 1.67,1.17 c 0.71,0 1.07,-0.22 1.07,-0.62 0,-1.09 -4.87,-0.51 -4.87,-3.94 0,-2.16 1.82,-3.24 3.88,-3.24 a 4.34,4.34 0 0 1 3.92,2.11 l -2.58,1.36 a 1.46,1.46 0 0 0 -1.33,-0.87 c -0.52,0 -0.83,0.2 -0.83,0.55 0,1.14 4.87,0.39 4.87,4.05 z"
    />
    <path
      id="path18"
      d="m 107.95,11.4 v 9.9 h -3 v -0.93 a 3.41,3.41 0 0 1 -2.82,1.23 c -2,0 -3.71,-1.43 -3.71,-4.1 v -6.1 h 3 v 5.65 a 1.64,1.64 0 0 0 1.73,1.8 c 1.08,0 1.84,-0.64 1.84,-2 V 11.4 Z"
    />
    <path
      id="path20"
      d="m 124.95,15.22 v 6.08 h -3 v -5.82 c 0,-1 -0.47,-1.62 -1.42,-1.62 -0.95,0 -1.55,0.69 -1.55,1.86 v 5.58 h -3 v -5.82 c 0,-1 -0.47,-1.62 -1.42,-1.62 -0.95,0 -1.55,0.69 -1.55,1.86 v 5.58 h -3 v -9.9 h 3 v 0.91 a 3.06,3.06 0 0 1 2.66,-1.18 2.93,2.93 0 0 1 2.59,1.3 3.26,3.26 0 0 1 2.87,-1.3 c 2.34,0 3.82,1.62 3.82,4.09 z"
    />
    <path
      id="path22"
      d="M 13.4,4.25 V 0 H 0 v 29.2 h 13.4 v -4.25 a 10.35,10.35 0 0 1 0,-20.7 z"
    />
    <path id="path24" d="m 13.4,4.25 v 20.7 a 10.35,10.35 0 0 0 0,-20.7 z" />
    <circle id="circle26" cx="127.47" cy="9.1400013" r="2.2" />
  </svg>
</template>

<style></style>
