<template>
  <li class="px-3" @mouseenter="toggle" @mouseleave="toggle">
    <nuxt-link
      :to="`/${link}`"
      class="mt-4 lg:inline-block lg:mt-0 hover:font-semibold"
    >
      {{ name }}
    </nuxt-link>
    <slot></slot>
  </li>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  methods: {
    toggle() {
      this.$emit('toggle', name)
    },
  },
}
</script>

<style scoped></style>
