<template>
  <div
    class="text-sm flex mx-auto"
    :class="$route.path === '/' ? 'text-white' : 'text-co-blue'"
  >
    <ul class="flex">
      <MenuItem name="PROCESS" link="process" />
      <MenuItem name="ITEMS" link="items" @toggle="toggle('items')">
        <SubMenu v-if="menu.items">
          <SubMenuItem link="items/item-1" name="Item 1" />
          <SubMenuItem link="items/item-2" name="Item 2" />
          <SubMenuItem link="items/item-3" name="Item 3" />
        </SubMenu>
      </MenuItem>
      <MenuItem name="SERVICES" link="services" @toggle="toggle('services')">
        <SubMenu v-if="menu.services">
          <SubMenuItem link="services/service-1" name="Item 1" />
          <SubMenuItem link="services/service-2" name="Item 2" />
          <SubMenuItem link="services/service-3" name="Item 3" />
        </SubMenu>
      </MenuItem>
      <MenuItem name="CASE STUDIES" link="case-studies" />
      <MenuItem name="ABOUT" link="about" />
      <MenuItem name="BLOG" link="blog" />
      <MenuItem name="CONTACT" link="contact" />
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'white',
    },
  },
  data() {
    return {
      menu: {
        items: false,
        services: false,
        about: false,
      },
    }
  },
  methods: {
    toggle(subMenu) {
      this.menu[subMenu] = !this.menu[subMenu]
    },
  },
}
</script>

<style scoped></style>
