<template>
  <div>
    <li>
      <nuxt-link :to="`${link}`">{{ name }}</nuxt-link>
    </li>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped></style>
