<template>
  <div id="mm" class="fixed z-50 bg-white inset-0 mm" @touchmove="scroll">
    <nuxt-link to="/">
      <div class="fixed top-0 left-0 lg:hidden p-3 text-white mr-6">
        <!-- <img
            v-if="color === 'white'"
            src="~/assets/logo.png"
            alt=""
            style="height: 30px"
          />
          <img v-else src="~/assets/logo1.png" alt="" style="height: 30px" /> -->
        <Logo class="text-co-blue" />
      </div>
    </nuxt-link>
    <div
      class="fixed top-0 right-0 lg:hidden p-3"
      :class="$route.path === '/' ? 'text-co-blue' : 'text-white'"
    >
      <button
        class="flex items-center px-3 py-2 border rounded text-white border-co-blue"
        @click="$emit('toggle')"
      >
        <svg
          class="fill-current h-3 w-3 text-co-blue"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="py-16 text-co-blue">
      <ul>
        <MobileMenuItem link="/about" name="ABOUT" />
        <MobileMenuItem link="/blog" name="BLOG" />
        <MobileMenuItem link="/contact" name="CONTACT" />
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    const fixed = document.getElementById('mm')

    fixed.addEventListener(
      'scroll',
      function (e) {
        e.preventDefault()
      },
      false
    )
  },
  methods: {
    scroll(e) {
      // e.preventDefault()
      e.stopPropagation()
    },
  },
}
</script>

<style scoped>
.mm {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}
</style>
