<template>
  <div>
    <nav class="flex items-center justify-between flex-wrap p-3">
      <nuxt-link to="/">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <!-- <img
            v-if="color === 'white'"
            src="~/assets/logo.png"
            alt=""
            style="height: 30px"
          />
          <img v-else src="~/assets/logo1.png" alt="" style="height: 30px" /> -->
          <Logo :class="$route.path === '/' ? 'text-white' : 'text-co-blue'" />
        </div>
      </nuxt-link>
      <div
        class="block lg:hidden"
        :class="$route.path === '/' ? 'text-co-blue' : 'text-white'"
      >
        <button
          class="flex items-center px-3 py-2 border rounded text-white border-white"
          :class="$route.path === '/' ? 'border-white' : 'border-co-blue'"
          @click="isOpen = !isOpen"
        >
          <svg
            class="fill-current h-3 w-3"
            :class="$route.path === '/' ? 'text-white' : 'text-co-blue'"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        :class="isOpen ? 'block' : 'hidden'"
        class="w-full block flex-grow lg:flex lg:items-center lg:w-auto items-center"
      >
        <Menu class="hidden lg:block" />
        <ClientLogin />
        <MobileMenu class="block lg:hidden" @toggle="isOpen = !isOpen" />
      </div>
      <!-- <MobileMenu /> -->
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'white',
    },
  },
  data() {
    return {
      isOpen: false,
    }
  },
}
</script>

<style></style>
