<template>
  <div>
    <div
      class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 grid-cols-1 px-4 gap-4 py-8 sm:px-8"
    >
      <StatsCard label="Headquartered" value="Springfield" />
      <StatsCard label="Founded" value="2020" />
      <StatsCard label="Total Valuation" value="$100 Million" />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
