<template>
  <div class="text-center card py-8">
    <h2 class="text-co-blue text-4xl">{{ value }}</h2>
    <h5 class="text-black text-md">{{ label }}</h5>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.card {
  box-shadow: 0 10px 35px 10px hsla(0, 0%, 65%, 0.15);
}
</style>
