<template>
  <div
    class="absolute bg-white rounded-sm shadow-2xl p-1 -ml-1 block"
    @mouseleave="$emit('toogle')"
  >
    <ul>
      <slot></slot>
    </ul>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
