<template>
  <li class="p-1 hover:font-semibold">
    <nuxt-link :to="link" class="px-30 text-co-blue">{{ name }}</nuxt-link>
  </li>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped></style>
