@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Open Sans', mono;
}

body {
  height: 100%;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
