<template>
  <article>
    <Navigation />
    <div class="px-4 sm:px-4 md:px-4 lg:px-16 xl:pb-16 mt-8">
      <h1 class="prose text-3xl">{{ article.title }}</h1>
      <p class="text-gray-500 mb-4">
        Last updated: {{ formatDate(article.updatedAt) }}
      </p>
      <nuxt-content class="prose max-w-none" :document="article" />
    </div>
    <Footer />
  </article>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content('articles', params.slug).fetch()

    return { article }
  },
  methods: {
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date).toLocaleDateString('en', options)
    },
  },
  head() {
    return {
      title: this.article.title,
    }
  },
}
</script>
