<template>
  <div>
    <Navigation />
    <h1 class="text-center text-xl py-8">Blog Posts ({{ articles.length }})</h1>
    <div class="lg:px-32 px-4">
      <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-8">
        <li
          v-for="article of articles"
          :key="article.slug"
          class="shadow-lg p-8 rounded"
        >
          <nuxt-link
            :to="{ name: 'blog-slug', params: { slug: article.slug } }"
          >
            <img :src="article.img" />
            <div>
              <h2 class="text-2xl">{{ article.title }}</h2>
              <!-- <p>by {{ article.author.name }}</p> -->
              <p>{{ article.description }}</p>
            </div>
          </nuxt-link>
        </li>
      </ul>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Blog',
    }
  },
  async asyncData({ $content, params }) {
    const articles = await $content('articles', params.slug)
      .only(['title', 'description', 'img', 'slug', 'author'])
      .sortBy('createdAt', 'asc')
      .fetch()

    return {
      articles,
    }
  },
}
</script>
