<template>
  <div>
    <Navigation />
    <div
      class="px-8 sm:px-4 lg:px-16 xl:px-16 lg:py-16 xl:py-16 py-8 bg-gray-300 bg-co-blue text-white"
    >
      <div class="lg:px-16">
        <h1 class="text-2xl">About Us</h1>
        <p>
          XYZ Consulting is a new company that provides expertise in search
          marketing solutions for businesses worldwide, including website
          promotion, online advertising, and search engine optimization
          techniques to improve its clients' positioning in search engines. We
          cater to the higher education market, including colleges,
          universities, and professional educational institutions.
        </p>
      </div>
    </div>
    <Stats />
    <Footer />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'About',
    }
  },
}
</script>

<style scoped></style>
