<template>
  <div>
    <div id="container" class="container">
      <div class="quote absolute inset-x-0 top-0 text-white">
        <Navigation />
      </div>
      <div class="main">
        <h1 class="title text-white mb-5 sm:-mt-0 lg:-st-16 -mt-32 md:-mt-0">
          COMPANY NAME
        </h1>
        <h5 class="subtitle text-white mb-10 pl-4 pr-4">
          A Short Description of What this Company Does
        </h5>
        <button
          class="bg-white hover:bg-gray-100 text-co-blue py-2 px-4 border border-gray-400 rounded shadow"
        >
          CONTACT US
        </button>
      </div>
      <div
        class="quote absolute inset-x-0 bottom-0 bg-black opacity-50 text-white text-opacity-100"
      >
        <div class="text-white text-opacity-100 opacity-100">
          <div>
            <p class="z-1000">
              "This company helped me a lot, they're awesome!"
            </p>
          </div>
          <p>Satisfied Customer, Acme</p>
        </div>
      </div>
    </div>
    <Clients />
    <WhatWeDo />
    <Footer />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Company Name',
    }
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  display: relative;
  margin: 0 auto;
  /* margin-top: -59px; */
  min-width: 100%;
  /* min-height: 100vh; */
  /* min-height: 110vh; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: url('~assets/shanghai.jpeg'); */
  background: url('~assets/bgr_hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0b72a6;
  background-size: cover;
}

.main {
  margin-top: -0px;
}

.title {
  font-family: 'Open Sans', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  /* font-weight: 300; */
  font-size: 50px;
  color: 'white';
  letter-spacing: 1px;
  line-height: 3.25rem;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
}

.links {
  padding-top: 15px;
}

.quote {
  height: max-content;
}
</style>
