<template>
  <div>
    <Navigation />
    <div class="p-4 lg:p-16">
      <h1 class="text-4xl text-center mb-8">Privacy Policy for XYZ</h1>
      <p>
        At xyz.com, accessible from https://xyz.com, one of our main priorities
        is the privacy of our visitors. This Privacy Policy document contains
        types of information that is collected and recorded by xyz.com and how
        we use it.
      </p>

      <p>
        If you have additional questions or require more information about our
        Privacy Policy, do not hesitate to contact us.
      </p>

      <p>
        This Privacy Policy applies only to our online activities and is valid
        for visitors to our website with regards to the information that they
        shared and/or collect in xyz.com. This policy is not applicable to any
        information collected offline or via channels other than this website.
        Our Privacy Policy was created with the help of the Privacy Policy
        Generator and the Free Privacy Policy Generator.
      </p>

      Consent
      <p>
        By using our website, you hereby consent to our Privacy Policy and agree
        to its terms.
      </p>

      Information we collect
      <p>
        The personal information that you are asked to provide, and the reasons
        why you are asked to provide it, will be made clear to you at the point
        we ask you to provide your personal information.
      </p>

      <p>
        If you contact us directly, we may receive additional information about
        you such as your name, email address, phone number, the contents of the
        message and/or attachments you may send us, and any other information
        you may choose to provide.
      </p>

      <p>
        When you register for an Account, we may ask for your contact
        information, including items such as name, company name, address, email
        address, and telephone number.
      </p>

      How we use your information
      <p>We use the information we collect in various ways, including to:</p>

      Provide, operate, and maintain our webste Improve, personalize, and expand
      our webste Understand and analyze how you use our webste Develop new
      products, services, features, and functionality Communicate with you,
      either directly or through one of our partners, including for customer
      service, to provide you with updates and other information relating to the
      webste, and for marketing and promotional purposes Send you emails Find
      and prevent fraud Log Files xyz.com follows a standard procedure of using
      log files. These files log visitors when they visit websites. All hosting
      companies do this and a part of hosting services' analytics. The
      information collected by log files include internet protocol (IP)
      addresses, browser type, Internet Service Provider (ISP), date and time
      stamp, referring/exit pages, and possibly the number of clicks. These are
      not linked to any information that is personally identifiable. The purpose
      of the information is for analyzing trends, administering the site,
      tracking users' movement on the website, and gathering demographic
      information. Cookies and Web Beacons
      <p>
        Like any other website, xyz.com uses 'cookies'. These cookies are used
        to store information including visitors' preferences, and the pages on
        the website that the visitor accessed or visited. The information is
        used to optimize the users' experience by customizing our web page
        content based on visitors' browser type and/or other information.
      </p>

      <p>
        For more general information on cookies, please read "What Are Cookies".
      </p>

      Advertising Partners Privacy Policies
      <p>
        You may consult this list to find the Privacy Policy for each of the
        advertising partners of xyz.com.
      </p>

      <p>
        Third-party ad servers or ad networks uses technologies like cookies,
        JavaScript, or Web Beacons that are used in their respective
        advertisements and links that appear on xyz.com, which are sent directly
        to users' browser. They automatically receive your IP address when this
        occurs. These technologies are used to measure the effectiveness of
        their advertising campaigns and/or to personalize the advertising
        content that you see on websites that you visit.
      </p>

      Note that xyz.com has no access to or control over these cookies that are
      used by third-party advertisers. Third Party Privacy Policies
      <p>
        xyz.com's Privacy Policy does not apply to other advertisers or
        websites. Thus, we are advising you to consult the respective Privacy
        Policies of these third-party ad servers for more detailed information.
        It may include their practices and instructions about how to opt-out of
        certain options.
      </p>

      <p>
        You can choose to disable cookies through your individual browser
        options. To know more detailed information about cookie management with
        specific web browsers, it can be found at the browsers' respective
        websites.
      </p>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Privacy Policy',
    }
  },
}
</script>

<style scoped>
p {
  margin-bottom: 10px;
}
</style>
